<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your token staking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <form method="post" action="/v1/public/contract_call" enctype="multipart/form-data">
        <div class="form-group">
            <label>Contract address: </label>
        </div>
        <div class="form-group">
            <button type="submit">Call test method</button>
        </div>
    </form>
</div>
</body>
</html>